.body_backgorund {
    background-image: url(" https://wallpapercave.com/wp/wp7467417.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: rgb(17, 219, 175); 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: rgb(255, 0, 255); 
      border-style:ridge;
  }

  button {
    background-color: #ff2600;
    border: none;
    color: rgb(238, 234, 28);
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  